# ignore cache files for sample projects
.vscode/ipch
browse*.db*
*.obj
*.pdb
*.exe
*.ilk

# ignore exported localization xlf and LCL directories
Build/loc/LCL
vscode-extensions-localization-export
OneLocBuild

# ignore imported localization xlf directory
vscode-translations-import

# Be Me prototype
be-me-v01/node_modules/
be-me-v01/dist/
be-me/node_modules/
be-me/.next/
